:root {
	--divider: 1px solid rgba(228, 228, 228, 0.1);

	--primary-color: #3f8cff;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: rgb(19, 23, 32);
	background-color: #1f2128;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	color: white;
}

a:visited {
	color: #bcbcbc;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	border-bottom: var(--divider);
}

tr:last-child {
	border-bottom: none;
}

th,
td {
	padding: 24px 12px;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th {
	text-align: left;
}

td {
	font-size: 14px;
	line-height: calc(24 / 14);
}

.title {
	font-size: 16px;
	line-height: 1.4;
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.full-width {
	width: 100%;
}

.button {
	display: inline-block;
	background-color: #1b1d21;
	color: white;
	border: 0;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;
	line-height: calc(20 / 14);
	padding: 12px 20px;
	text-decoration: none;
	white-space: nowrap;
}

.primary.button {
	background-color: var(--primary-color);
	color: white;
}

.button.button--sm {
	border-radius: 6px;
	font-size: 12px;
	line-height: calc(16 / 12);
	padding: 4px 12px;
}

.input {
	margin-top: 20px;
	margin-bottom: 20px;
}

.input > label {
	display: block;
}

.input > input[type='email'],
.input > input[type='password'],
.input > input[type='search'],
.input > input[type='text'] {
	background-color: rgba(0, 0, 0, 0.2);
	border: 0;
	box-sizing: border-box;
	color: white;
	border-radius: 10px;
	font-size: 14px;
	line-height: calc(20 / 14);
	margin-top: 8px;
	padding: 12px 20px;
	width: 100%;
}

.orders-page {
	padding: 48px;
}

.order-list-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px 0;
	max-width: 640px;
}

.new-order-page {
	height: 100%;
	display: flex;
	max-width: 1280px;
	margin: 0 auto;

	justify-content: space-between;
	align-items: flex-start;
}

.new-order-page > section {
	width: 100%;

	margin-right: 64px;

	flex: 2 1 auto;
}

.new-order-page > aside {
	width: 100%;

	flex: 1 2 auto;
}

.new-order-search {
	flex: 1 1 300px;
	background-color: green;
	margin-right: 24px;
}

.new-order-search-results {
	margin-top: 48px;
}

.new-order-cart {
	flex: 0 0 300px;
	min-height: 500px;
	background-color: green;
}

.search-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.search-input {
	background-color: rgba(0, 0, 0, 0.2);
	border: 0;
	box-sizing: border-box;
	color: white;
	border-radius: 10px;
	font-size: 14px;
	line-height: calc(20 / 14);
	margin-right: 12px;
	padding: 12px 20px;
	width: 100%;
}

.dashboard {
	display: grid;
	grid-template-columns: minmax(270px, 320px) auto;
	grid-template-rows: 100px 1fr;

	min-height: 100vh;
}

.dashboard-nav,
.dashboard-content {
	box-sizing: border-box;
	padding: 24px;
}

.dashboard-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: var(--divider);
	box-sizing: border-box;
	padding: 24px 24px 24px 44px;

	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.dashboard-nav {
	grid-row: 2 / -1;
	border-right: var(--divider);
}

.dashboard-content {
	padding-right: 80px;
}

.dashbard-nav-list {
	display: flex;
	flex-direction: column;
}

.dashboard-nav-item {
	display: block;
	background-color: transparent;
	color: #808191;
	border: 0;
	border-radius: 12px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;
	line-height: calc(20 / 14);
	padding: 16px 20px;
	text-decoration: none;
	white-space: nowrap;

	transition: background-color 0.2s, color 0.2s;
}

.dashboard-nav-item:hover {
	background-color: var(--primary-color);
	color: white;
}

.login-form {
	margin: 0 auto;
	max-width: 480px;
}

.form-actions {
	display: flex;
	margin: 32px -12px 0 -12px;
}

.form-actions > .button {
	margin: 0 12px;
}

.caption {
	font-size: 13px;
	line-height: calc(18 / 13);
	color: #808191;
}

.products-page {
	max-width: 1280px;
	margin: 48px auto;
}

.settings-page {
	max-width: 768px;
	margin: 48px auto;
}
